/* 
.card-main{
    width: 18rem;
    padding: 6px;
}

.card-title{
    font-size: large;
} */



h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}


.item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.thumb-wrapper {
    margin-top: 10px;
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
	
}

.img-fluid {	
	width: 220px;
	height: 200px;
	display: inline-block;
	margin: 10px;
}
.item h4 {
	font-size: 18px;
}
 .item h4, .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
 .btn:hover, .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}

.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
 .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}

.wish-icon {
	float: right;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.navbar-brand.removeBtn{
	cursor: pointer;
}
.favBtn{
	display: flex;
	flex-direction: column;
}

.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
