.row{
    margin-top: 0px;
    margin-left: 5rem ;
    display: inline-flex;
    width: 100%;
}
 
@media screen and (max-width:600px){
    .container {
        padding:0;
        margin: 1px;
        
      }
    
      .container-fluid{
        padding-left: 0;
        padding-right: 0;
      }
      .row{
        padding-right: 0;
        padding-left:0
      }

}
 

